body {
	background-color: black !important;
}
#main {
	background-color: black;
}
button {
	margin: none;
	float: left;
}
.container, .container-fluid {
	background-color: black;
}
button {
	background-color: #002d3d;
	color: white;
}
#menu-glyph {
	background-color: #002d3d;
	color: white;
	border: 1px solid #002d3d;
}