<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TRNZT.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>19910A481E9A98E100E5153D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19910A5C1E9A98E100E5153D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19910A671E9A98E100E5153D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
